*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
}
.container{
margin: auto 200px;
}
header{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
nav ul {
  display: flex;
  gap: 10px;
}
ul li{
  list-style: none;
  padding: 4px 10px;
  border-radius: 6px;
}
ul li:hover{
  font-weight: bold;
  background-color: #EDEFEE;
}
a{
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 780px){
  .nav-list{
    display: none;
  }
  .hero-section{
    flex-direction: column;
  }
}
.nav-mobile{
  display: none;
  position: relative;
  }
.nav-items-mobile{
  border: 1px solid lightgrey;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  border-radius: 10px;
  top: 30px;
  bottom: 0;
  right: 0;
  height: 150px;
  width: 200px;
  max-width: 300px;
  background-color: white;
}

.nav-menu-btn{
  z-index: 50;
  cursor: pointer;
height: 100%;
width: 100%;
}
.hero-section{
  padding: 50px 10px;
 display: flex;
 flex-direction: row;
 gap: 10px;
 max-height: 400px;
}

@media (max-width: 780px) {
  .nav-mobile{
    display: flex;
  }
  header{
    margin: 10px;
  }
  .container{
    margin: 10px;
  }
  .hero-section{
    flex-direction: column;
  }
  .category-items-container{
    grid-template-columns: 1fr;
  }
}
.hero{
 background-color: #495E57;
}
.hero-section{
  padding: 50px 10px;
 display: flex;
 flex-direction: row;
 max-height: 400px;
}
.hero-text-container{
  display: flex;
  flex-direction: column;
  flex-basis:1;
  gap: 20px;
   font-family: "Markazi Text", serif;
  justify-content: center;
}
.hero-image-container{
  flex:1;
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.hero-image{
  border-radius: 16px;
  height: 400px;
}

.hero-action-btn{
  background-color: #F4CE14;
  color:#495E57;
  width: 210px;
  height: 68px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: bold;
  cursor:pointer;
}
.hero-action-btn:hover{
  opacity: .8;
}
.hero-title{
 font-family: "Markazi Text", serif;
font-size: 64px;
font-weight: medium;
color:#F4CE14;
line-height: 1.5rem;
}
.hero-title-container{
  display: flex;
  flex-direction: column;
  gap:0;
  margin: 0;
  padding: 0;
}
.hero-subtitle{
 font-family: "Markazi Text", serif;
font-size: 40px;
font-weight: regular;
color:#EDEFEE;
}
.hero-body-text{
font-family: "Karla", sans-serif;
font-size: 18px;
font-weight: medium;
color:#EDEFEE;
}
.category-container{
  margin-bottom: 50px;
  margin-top: 100px;
}
.category-items-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

}
.food-article-img{
  width: 100%;
  aspect-ratio:9/6;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
@media (max-width: 780px) {
  .category-container{
    padding-top: 80px;
    text-align: center;
  }
  .category-items-container{
    grid-template-columns: 1fr;
    padding: 10px;
    border-radius: 16px;
  }
}
@media (max-width: 780px) {
   .hero-section{
    flex-direction: column;
    text-align: center;
  }
  .hero-section{
max-height: 600px;
  }
  .hero-text-container{
    justify-content: center;
    align-items: center;
  }
  .hero-image{
    position: relative;
  }
  .hero-image-container{
    justify-content: center;
    padding-top: 10px;
  }
}
.category-section-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.section-action-btn{
  background-color: #495E57;
  color:#F4CE14;
  width: 210px;
  height: 68px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: bold;
  cursor:pointer;
}
.section-title{
    font-family: "Karla", sans-serif;
    font-size: 22px;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}
.food-article-container{
  background-color: #EDEFEE;
  display:flex;
  flex-direction: column;
  gap:10px;
  border-radius: 16px;
}
.food-article-body{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap:10px;
  padding-bottom: 20px;

}
.food-article-body-text{
  text-align: left;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;


}
.food-article-link{
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
    font-family: "Karla", sans-serif;
    font-size: 16px;
  font-optical-sizing: auto;
  line-height: 1.5rem;

}
.food-article-title{
    font-family: "Karla", sans-serif;
    font-size: 18px;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  line-height: 1.5rem;
}
.food-article-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.food-article-value{
    font-family: "Karla", sans-serif;
    font-size: 18px;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5rem;
  color: #EE9982;
}