*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
}
header{
  margin: auto 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
nav ul {
  display: flex;
  gap: 10px;
}
ul li{
  list-style: none;
  padding: 4px 10px;
  border-radius: 6px;
}
ul li:hover{
  font-weight: bold;
  background-color: skyblue;
}
a{
  text-decoration: none;
}

@media (max-width: 780px){
  .nav-list{
    display: none;
  }
}
.nav-mobile{
  display: none;
  position: relative;
  }
.nav-items-mobile{
  border: 1px solid lightgrey;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  border-radius: 10px;
  top: 30px;
  bottom: 0;
  right: 0;
  height: 150px;
  width: 200px;
  max-width: 300px;
  background-color: white;
}

.nav-menu-btn{
  z-index: 50;
  cursor: pointer;
height: 100%;
width: 100%;
}

@media (max-width: 780px) {
  .nav-mobile{
    display: flex;
  }
  header{
    margin: 10px;
  }
}